#entrySignUp{
  padding: 40px;
  input{
    padding-left: 40px !important;
    color: black;
  }
  #errorMessages{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    box-sizing: border-box;
    width: 100.5%;
    margin-bottom: 15px;
    color: red;
    font-weight: bold;
  }
}

#entrySignUp .progress{
  height: 5px;
  margin-bottom: 1px
}